/*Importação de fontes*/
@font-face {
  font-family: 'MoreSugar-Regular';
  src: url('Font/MoreSugar-Regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* Configurações Básicas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 50px; /* Espaço para o rodapé fixo */
    background-color:whitesmoke ;
}
h4{
    font-size: 30px;
   margin-left: 15%;
    margin-bottom: 8px;
    margin-top: 50px;
    color: black;
}
p{
    margin-left: 15%;
    margin-bottom: 50px;
}
/*trabalhando com apagina a1*/
.tab-content-a1 h1{
    color:white;
    font-family:MoreSugar-Regular,sans-serif;
    font-size: 50px;
    text-shadow: 3px 5px 0 black, 
               3px 5px 0 black, 
               3px 5px 0 black, 
               3px 5px 0 black;
    margin-left: 1%;
    
}
.textoa1 {
  display: flex;
  flex-direction: column; /* Organiza o texto em coluna */
  align-items: flex-end; /* Alinha o texto à direita */
  flex: 1; /* Permite que o texto ocupe o espaço restante */
}
.tab-content-a1 {
   background-image:url(images/a1-woman-v2.png);
   background-repeat: no-repeat;
   background-position: center;
    display: flex; /* Posiciona os elementos lado a lado */
   flex-direction: row;
    justify-content: center;
    
    border-radius: 8px;
    margin-bottom: 50px;
    
}
.tab-content-a1 p{
    background-color: #f6f1ed;
    max-width: 310px;
    padding: 10px;
    margin-left: 1%;
    text-align: center;
    border-radius: 8px;
    margin: 8px;
    border: 0.5px solid black;
}
/*Trabalhando com conteudo do A2*/
.tab-content-a2{
    background-image:url(images/masp.png);
   background-repeat: no-repeat;
   background-position: center;
   
    display: flex; /* Posiciona os elementos lado a lado */
   flex-direction: column;
   align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 8px; 
}
.tab-content-a2 h2{
margin-bottom: 0.5px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:32px;
color: #fff;
margin-left: 5%;
text-align: center;
margin-bottom: 2%;
text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;

}
.tab-content-a2 h3{
margin-bottom: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
font-size:20px;
color: #fff;
margin-left: 5%;
text-align: center;
margin-bottom: 2%;
text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
.tab-content-a2 p{
margin-bottom: 0.5px;
font-family: Arial, Helvetica, sans-serif;
background-color: #f6f1ed;
    padding: 10px;
    margin-left: 1%;
    text-align: center;
    border-radius: 8px;
    margin: 8px;
    border: 0.5px solid black;
}
/* Organização e variação dos blocos A2*/
.blocos-a2{
    display: flex; /* Posiciona os elementos lado a lado */
   flex-direction: row;
    justify-content: center;
    text-align: center;
}
.bloco-1{
        border-radius: 5px;
    padding: 10px;
    background-color: #8e974b;
    text-align: center;
    text-decoration: solid;
    color: #fff;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: min-content;
    max-height: fit-content;
    margin: 7px;
    border: 0.5px solid black;
    text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;

}
.bloco-2{
        border-radius: 5px;
    padding: 10px;
    background-color: #785339;
    text-align: center;
    text-decoration: solid;
    color: #fff;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: min-content;
    max-height: fit-content;
    margin: 7px;
    border: 0.5px solid black;
    text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
.bloco-3{
        border-radius: 5px;
    padding: 10px;
    background-color: #ff751f;
    text-align: center;
    text-decoration: solid;
    color: #fff;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: min-content;
    max-height: fit-content;
    margin: 7px;
    border: 0.5px solid black;
    text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
.bloco-4{
        border-radius: 5px;
    padding: 10px;
    background-color: #8e974b;
    text-align: center;
    text-decoration: solid;
    color: #fff;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: max-content;
    max-height: 400px;
    margin: 7px;
    border: 0.5px solid black;
    align-content: center;
    text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
.bloco-5{
        border-radius: 5px;
    padding: 10px;
    background-color: #785339;
    text-align: center;
    text-decoration: solid;
    color: #fff;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: max-content;
    max-height: 400px;
    margin: 7px;
    border: 0.5px solid black;
    align-content: center;
    text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
.bloco-6{
        border-radius: 5px;
    padding: 10px;
    background-color: #ff751f;
    text-align: center;
    text-decoration: solid;
    color: #fff;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: max-content;
    max-height: 400px;
    margin: 7px;
    border: 0.5px solid black;
    align-content: center;
    text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
/*conteudo A3*/
.tab-content-a3 {
    background-image:url(images/favela-pixel1.png);
   background-repeat: no-repeat;
   background-position: center;
    display: flex; /* Posiciona os elementos lado a lado */
   flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
    margin-bottom: 50px;
    
    
}
.tab-content-a3 h2{
margin-bottom: 0.5px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:32px;
color: #fff;
margin-left: 5%;
text-align: center;
margin-bottom: 2%;
text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
.tab-content-a3 h3{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:24px;
color: #fff;
margin:0;
text-align: left;
align-items: center;
align-content: center;
margin-right: 50%;
margin-bottom: 2%;
text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
.texto-a3{
    display: flex;
    flex-direction: row;
    max-width:70%;
}
.tab-content-a3 p{
    color: #fff;
    max-width: 50%;
    padding: 10px;
    margin-left: 1%;
    border-radius: 8px;
    margin: 8px;
    margin-right: 3%;
    background-color:#785339;
    border: solid#fff;
}
.sustentabilidade-img{
    border-radius: 18px;
}
.atalhos-a3{
    display: flex;
    flex-direction: row;
    margin-right: 40%;
    background-color:#785339;
    padding:8px;
    border-radius: 8px;
    border: solid#fff 2px;
    
}
.onu-btn{
    background-color: #f6f1ed;
    margin-right: 15px;
    border-radius: 30px; 
}
.ods-btn{
    background-color: #f6f1ed;
    margin-right: 15px;
    border-radius: 30px; 
}
.unicid-btn{
    background-color: #f6f1ed;
    margin-right: 5%;
    border-radius: 30px; 
}
/*conteudo A4*/
.tab-content-a4 {
   background-image:url(images/Escritorio.png);
   background-repeat: no-repeat;
   background-position: center;
    display: flex; /* Posiciona os elementos lado a lado */
   flex-direction: column;
    
    border-radius: 8px;
    
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
}
.tab-content-a4 h2{
margin-bottom: 0.5px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:32px;
color: #fff;
text-align: left;
text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;

}
.tab-content-a4 h3{
margin-bottom: 0.5px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:24px;
color: #fff;
margin-left: 5%;
text-align: left;
margin-right: 40%;
margin-bottom: 2%;
text-shadow: 3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black, 
               3px 3px 0 black;
}
.texto-a4{
    display: flex;
    flex-direction: row;
    max-width: 40%;
}
.tab-content-a4 b{
    color: #fff;
    margin-right: 18%;
    font-size: 20px;
    text-shadow: 1px 1px 0 black, 
               1px 1px 0 black, 
               1px 1px 0 black, 
               1px 1px 0 black;

}
.tab-content-a4 p{
    color: black;
    padding: 10px;
    margin-left: 1%;
    border-radius: 8px;
    margin: 8px;
    background-color:antiquewhite;
    border:solid black 0.5px;

}
.minha-imagem{
border-radius: 8px;
}
.atalhos-a4{
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    background-color:antiquewhite;
    border:solid black 0.5px;
    border-radius: 10px;
    padding: 15px;

    
}
.ld-btn{
    background-color: #f6f1ed;
    margin-right: 20px;
    border-radius: 30px; 
    
}
.email-btn{
    background-color: #f6f1ed;
    margin-right: 20px;
    border-radius: 30px; 
}
.github-btn{
    background-color: #f6f1ed;
    margin-right: 20px;
    border-radius: 30px; 
}
/*Conteudo Questão 1*/
.tab-content-q1{
    background-color: rgb(255, 249, 227);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  
    margin-bottom: 50px;
}
.tab-content-q1 h2{
margin-bottom: 0.5px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:32px;
color: black;
margin-left: 5%;
text-align: center;
margin-bottom: 2%;
}
.tab-content-q1 h3{
margin-bottom: 0.5px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:28px;
color: black;
margin-bottom: 2%;
margin-left: 10%;
}

.tab-content-q1 p{
    background-color: #fff;
margin-bottom: 0.5px;
font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    margin: 8px;
    border: 0.5px solid black;
    margin-left: 10%;
    margin-right: 10%;
}
/*Organização dos topicos da q1*/
.infolink{
    margin: 8px;
    border: 0;
    padding: 0;
}
.topico{
    
    background-color: #fff;
margin-bottom: 0.5px;
font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border-radius: 8px;
    margin: 8px;
    border: 0.5px solid black;
    margin-left: 10%;
    margin-right: 10%;
}
.topico h2{
    font-size: medium;
    text-align: left;
    margin: 8px;


}
.topico p{
    margin: 8px;
    border: 0;
    padding: 0;
    text-align: left;
    
}
.caixa-imagem{
    align-items: center;
}
/* Navegação de Abas */
.tabs-nav {
    display: flex;
    justify-content: space-around;
    position: sticky; /* Fixa o menu no topo ao rolar */
    top: 0;
    background-color: #8e974b;
    border-bottom: 1px solid #8e974b;
    z-index: 10;
}
.tab-link {
    flex-grow: 1;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
}
.tab-link:hover, .tab-link.active {
    color: white;
    border-bottom: 3px solid #ff751f;
}
/* Conteúdo */
.content-container {
    padding: 20px;
    
}
.tab-content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* Inicialmente esconde todos, menos o ativo (será controlado por JS) */
    /* Para demonstração simples em HTML/CSS, você pode exibir todos e depender da rolagem */
    /* display: none; */ 
}
/* Cabeçalho no Final (Rodapé Fixo) */
.footer-header {
    position: fixed; /* Fixo na parte inferior da tela */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    z-index: 20;
}